.bodyShowDataComment div .makeStyles-grid-100 {
    margin: 1px -15px !important;
}

.bodyShowDataComment .MuiFormLabel-root {
    color: black !important;
}

.bodyShowDataComment div .makeStyles-grid-99 {
    margin: 3px -15px !important;
}

.bodyShowDataComment div .MuiGrid-root .MuiGrid-root .MuiFormControl-fullWidth {
    width: 92%;
}

.popUpShowDataComment .MuiDialog-container .MuiPaper-root {
    width: 700px;
}

.MuiTab-wrapper{
    font-family: bakh !important;
}

/* Answer Comment */

.popUpSetAnswerComment .MuiDialog-container .MuiPaper-root {
    width: 700px;
}

.bodyAnswerComment div .makeStyles-grid-99 {
    margin: 3px -15px !important;
}

.bodyAnswerComment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bodyAnswerComment .MuiFormLabel-root {
    color: black !important;
}

.popUpSetAnswerComment .makeStyles-formControl-95{
    margin: 6px 0 0 0 !important;
}


@media screen and (max-width:749px) {
    .bodyShowDataComment div .MuiGrid-root .MuiGrid-root .MuiFormControl-fullWidth {
        width: 100%;
    }

    .popUpShowDataComment .MuiDialog-container .MuiPaper-root .MuiDialogContent-root {
        overflow-y: auto;
    }

    .bodyShowDataComment {
        display: flex;
        flex-direction: column;
    }

    .bodyShowDataComment div .makeStyles-grid-99 {
        margin: 3px -15px !important;
    }



    /* answer comment */
    .popUpSetAnswerComment .MuiDialog-container .MuiPaper-root .MuiDialogContent-root {
        overflow-y: auto;
    }
}