.popUpShowEditNews .MuiDialog-container .MuiPaper-root .MuiDialogContent-root .MuiGrid-root {
    margin: 4px -7px !important;
}

.bodyShowEditNews {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.popUpShowEditNews div .MuiGrid-root .MuiGrid-grid-xs-12 {
    min-width: 236px;
}

.popUpShowEditNews .MuiDialog-container .MuiPaper-root {
    width: 900px;
}

.avatarPhotoNews .MuiAvatar-root{
    width: 200px;
    height: 200px;
    margin: auto;
    align-items: center;
}

.MuiTab-wrapper{
    font-family: bakh !important;
}

.MuiFormLabel-root{
    font-family: bakh !important;
}

.MuiTypography-root{
    font-family: bakh !important;
}


@media screen and (max-width:749px) {

    .bodyShowEditNews {
        display: flex;
        flex-direction: column;
    }


    .avatarPhotoNews {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .popUpShowEditNews .MuiDialog-container .MuiPaper-root .MuiDialogContent-root {
        overflow-y: auto;
    }
}