.headerCourse{
    height: 14px;
    margin-top: 10px !important;
    width: 140px;
    margin-bottom: -20px;
}

.avatarPhotoLesson .photo .upload{
    right: 38% !important;
    top: 60% !important;
}